@import url(https://fonts.googleapis.com/css?family=Raleway:200,400,700|Dancing+Script:700)

$xsmall: 450px
$small: 768px
$medium: 992px
$large: 1200px

$textlight: white // rgb(222, 215, 200) or rgb(209, 212, 203)

$primary: rgb(94, 131, 147)
$primary0: rgb(138, 167, 180)
$primary1: rgb(106, 144, 160)
$primary2: rgb(84, 117, 131)
$primary3: rgb(64, 89, 100)
$primary4: rgb(44, 62, 69)
$text: rgb(28, 39, 46)

$secondary: rgb(146, 110, 57)
$secondary0: rgb(190, 149, 89)
$secondary1: rgb(164, 124, 64)
$secondary2: rgb(128, 96, 50)
$secondary3: rgb(91, 69, 36)
$secondary4: rgb(54, 41, 21)

$tertiary: rgb(64, 137, 139)
$tertiary0: rgb(97, 180, 182)
$tertiary1: rgb(72, 154, 156)
$tertiary2: rgb(56, 120, 122)
$tertiary3: rgb(40, 85, 87)
$tertiary4: rgb(24, 51, 52)

body
  color: $text
  font-family: 'Raleway', sans-serif
  font-weight: 200
  padding-top: 20px
  line-height: 1.7
  font-size: 16px
  @media screen and (min-width: $small)
    font-size: 18px

.head
  background-size: cover
  color: $textlight
  padding: 0px 20px 70px 20px
  @media screen and (max-width: $small)
    font-weight: 400
    background-attachment: scroll
  @media screen and (min-width: $small)
    background-attachment: fixed

#about-header
  background-image: url('./images/pattern1-dark.jpg')

#logo
  margin-top: 20px
  max-width: 300px
  @media screen and (min-width: $small)
    float: right
  @media screen and (max-width: $small)
    display: block
    margin: 20px auto

#discussion-header
  background-image: url('./images/ghita-dark.jpg')

#event-header
  background-image: url('./images/incense-dark.jpg')

#resource-header
  background-image: url('./images/ud-dark.jpg')

#addEventForm,
#addCollectionForm
  padding-top: 70px

#editPostForm,
#editCollectionForm,
#editItemForm,
#editCommentForm
  padding: 20px
  border: 1px solid $primary4
  color: $primary4
  background: $primary0
  border-radius: 5px

.tag
  margin-right: 5px

.help-block
  font-size: 0.7em

#footer
  background-color: $primary4
  color: white
  padding: 50px
  margin-top: 70px

  @media screen and (max-width: $small)
    display: block

  @media screen and (min-width: $small)
    display: -webkit-flex
    -webkit-justify-content: center
    display: flex
    justify-content: center

  a, a:visited, a:hover
    color: white
  .arabic
    font-weight: 200
    font-style: italic
  #webmaster
    font-size: .8em
    font-weight: 200

#footer-image
  width: 100%
  max-width: 300px
  @media screen and (min-width: $small)
    padding: 30px
    display: inline-block
  @media screen and (max-width: $small)
    align-items: center
    display: block
    padding: 30px 10px 15px 10px
    margin: 0 auto

#footer-text
  @media screen and (min-width: $small)
    padding: 30px
    text-align: left
    display: inline-block
  @media screen and (max-width: $small)
    text-align: center
    padding: 15px 10px 30px 10px
    display: block

strong
  font-weight: 400

h1, h2, h3, h4, h5, h6
  font-family: 'Dancing Script', sans-serif
  font-weight: 400
  border-bottom: 1px solid
  padding-bottom: 10px
  button
    font-family: 'Raleway', sans-serif

.spacer
  @media screen and (max-width: $medium)
    display: none
  @media screen and (min-width: $medium)
    border-bottom: none

.sticky
  @media screen and (min-width: $medium)
    position: fixed
    top: 100px

/* navbar */
.navbar-default
  background-color: $primary4
  border-color: transparent

/* title */
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus
  color: $textlight
  font-family: 'Dancing Script', sans-serif

.navbar-default .navbar-brand:hover
  background-color: $primary3
  color: white

/* link */
.navbar-default .navbar-nav > li > a
  color: $textlight

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus
  color: white
  background-color: $primary3

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus
  color: $textlight
  background-color: $primary3

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus
  color: $textlight
  background-color: $primary3

/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret
  border-top-color: #777
  border-bottom-color: #777

a
  color: $tertiary4
  text-decoration: none
  font-weight: 400

a:visited
  color: $secondary

.holder
  padding-top: 70px
  @media screen and (min-width: $small)
    padding-left: 20px

/* lists */
.event,
.discussion,
.collection
  padding-bottom: 20px

.event-name,
.discussion-title,
.collection-title
  text-transform: uppercase
  font-weight: 700
  padding-top: 0px
  color: $tertiary4
  display: inline-block

.btn-group
  margin-bottom: 5px
  margin-left: 5px

.event-name:first-child,
.discussion-title:first-child,
.collection-title
  padding-top: 0px

.event-place,
.event-date,
.discussion-author
  font-weight: 400
  color: $tertiary4


.event-description,
.discussion-content,
.collection-description
  font-size: 0.8em
  padding-bottom: 0px

.event-tags,
.discussion-tags,
.resource-tags
  font-size: 0.6em
  font-weight: 400
  color: $textlight
  background: $primary0
  padding: 3px 8px 2px 8px
  margin-bottom: 5px
  margin-top: 5px
  display: inline-block
  border-radius: 5px

/* comments */
.comment,
.item
  font-size: 0.8em
  margin-bottom: 20px
  padding-right: 10px
  padding-left: 8px
  @media screen and (min-width: $small)
    padding-left: 20px

.item-author
  font-weight: 400

.comment-author,
.item-title
  font-weight: 400
  color: $tertiary4

.comment-date
  font-weight: 400
  color: $tertiary4

.list
  .event-description,
  .discussion-content,
  .collection-description
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: 3
    line-height: 1.2
    max-height: 3.6

  .event-tags,
  .discussion-tags,
  .resource-tags
    margin-bottom: 10px

  .comment,
  .item
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: 2
    line-height: 1.2
    max-height: 2.4
    margin-bottom: 8px
